<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block meta %}
    {% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'fontawesome-5/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'app01/css/rbac.css' %}">

    <!-- custom css style -->
    {% block custom_css %}
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    {% block custom_script %}
    {% endblock %}
</body>
</html>